/*
 *
 * Initial Declarations
 *
 */
body {
  font-family: BenchNine;
  font-size: 12px;
  color: #424242;
  border-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

h1, h2, h3, h4, h5 {
  font-family: BenchNine;
  margin: 0;
}

header {
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: black;
  max-height: 400px;
}

section, div {
  box-sizing: border-box;
}

figcaption {
    font-weight: 200;
    font-size: .5em;
    color: #212121;
    text-align: center;
    position: absolute;
    padding-top: 2.5px;
    bottom: 0;
    left: 0;
    right: 0;
}

figure {
   display: inline-block;
   position: relative;
   max-width: 30%;
   padding: 1.5% 0 1.5% 0;
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
}

/*
 *
 * Header under 500px width
 *
 */
.header__logo {
  height: 72px;
  margin-left: inherit;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 200;
  font-size: 3em;
  color: #212121;
}

.header__subtitle {
  font-weight: 100;
  font-size: 1.5em;
  color: #212121;
}

/*
 *
 * Main Body under 500px width
 *
 */

.main_image {
    max-height: 100%;
    width: 100%;
    margin-top: 40px;

}

.featured_work_title {
  padding-top: 20px;
  font-weight: 100;
  font-size: 1.5em;
  color: #212121;
}
/*
 *
 * Featured Work under 500px width
 *
 */
 .featured_work{
  max-width: 100px;
  padding-top: 5px;
  padding-bottom: 20px;
  font-weight: 200;
  font-size: 3em;
  color: #212121;
}

.featured_work_center{
   display: inline-block;
   position: relative;
   max-width: 30%;
   padding: 1.5% 4.5% 1.5% 4.5%;

}
.featured_work_section{
  margin-left: 0%;
  margin-right: 0%;
}

/*
 *
 * Header over 500px width
 *
 */
@media only screen and (min-width: 500px){

  figcaption {
      font-weight: 200;
      font-size: 1em;
      color: #212121;
      text-align: center;
      position: absolute;
      padding-top: 5px;
      bottom: 0;
      left: 0;
      right: 0;
  }

  .header__title {
    font-weight: 300;
    font-size: 5em;
    text-align: right;
    color: #212121;
  }

  .header__subtitle {
    font-weight: 200;
    font-size: 2.5em;
    text-align: right;
    color: #212121;
  }
  /*
   *
   * Featured Work over 500px width
   *
   */
  .featured_work_title {
    padding-top: 20px;
    font-weight: 200;
    font-size: 3em;
  }

  .featured_work{
    display: block;
    text-align: center;
    max-width: 100%;
    padding-top: 2.5px;
    padding-bottom: 20px;
  }
}

/*
 *
 * figcaption over 700px width
 *
 */
@media only screen and (min-width: 900px){

  figcaption {
      font-weight: 200;
      font-size: 2em;
      color: #212121;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
  }
}
